<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>edit book record</title>
    <link rel="stylesheet" href="{% static 'css/book.css' %}"
  </head>
  <body>
    <div id="header">
      <h1>BOOK RECORD MANAGEMEN</h1>
      <div id="nav">
        <a href="/brm/view-book">view all</a>
        <a href="/brm/new-book">Add new</a>
        <a href="/brm/search-book">Search</a>
        <a href="/brm/logout">Logout</a>

        </div>
      </div>
        <div id ='main'>
          <h2>edit book record</h2>
          <form action="/brm/edit" method='post'>
            {% csrf_token %}
            <input type="hidden" name="bookid" value="{{book.id}}">
            {{form}}
            <input type="submit" value="Save">
            </form>
        </div>
  </body>
</html>
