body{
  background-color: white;
  font-family:"calibri":
  margin:0px 0px 0px 0px ;

}
#header{
  background-color:#329A97;
  padding:20px;
  text-align: center;
}
#header h1{
  color:yellow;
  text-align: center;
  letter-spacing:7px;
  text-decoration: underline;

}
#nav
{
  width:60%;
  margin:auto;


}
#nav a{
  background-color:yellow;
  width:150px;
  text-decoration: none;
  padding: 2px;
  color:#329A97

}
#main{
  margin:auto;
  border: solid 1px lightgrey;
  width:80%;
  padding:5px;
  margin-top:5px;

}
